
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .background {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        animation: 8.0s scroll infinite linear;
        width: 450px;
        height: 500px;
    }
    
    .background-start {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        width: 450px;
        height: 500px;   
    }
    
    
    @keyframes scroll{
        100%{
          background-position:0px 1200px;
        }
    }
    canvas {
        -webkit-user-select:none;
        background: transparent;
    }
    
    .container {
        -webkit-user-select:none;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 450px;
        height: 500px;
    }
    
    .link {
        color: green;
    }
    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background:#BEE0FE;
    }

    
    .fadein {
        text-align: center;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    #restart {
        height: 50px;
        width: 100px;
        margin: 0 auto;
    }
    
    @font-face {
        font-family: "lazer";
        src: url("misc/Lazer84.ttf");
    }
    @font-face {
        font-family: "streamster";
        src: url("misc/Streamster.ttf");
    }
    @font-face {
        font-family: "vcr";
        src: url("misc/vcrmono.ttf");
    }
    
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .background {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        animation: 8.0s scroll infinite linear;
        width: 450px;
        height: 500px;
    }
    
    .background-start {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        width: 450px;
        height: 500px;   
    }
    
    
    @keyframes scroll{
        100%{
          background-position:0px 1200px;
        }
    }
    canvas {
        -webkit-user-select:none;
        background: transparent;
    }
    
    .container {
        -webkit-user-select:none;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 450px;
        height: 500px;
    }
    
    .link {
        color: green;
    }
    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background:#BEE0FE;
    }

    
    .fadein {
        text-align: center;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    #restart {
        height: 50px;
        width: 100px;
        margin: 0 auto;
    }
    
    @font-face {
        font-family: "lazer";
        src: url("misc/Lazer84.ttf");
    }
    @font-face {
        font-family: "streamster";
        src: url("misc/Streamster.ttf");
    }
    @font-face {
        font-family: "vcr";
        src: url("misc/vcrmono.ttf");
    }
    
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    
  }
    
  
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .background {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        animation: 8.0s scroll infinite linear;
        width: 450px;
        height: 500px;
    }
    
    .background-start {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        width: 450px;
        height: 500px;   
    }
    
    
    @keyframes scroll{
        100%{
          background-position:0px 1200px;
        }
    }
    canvas {
        -webkit-user-select:none;
        background: transparent;
    }
    
    .container {
        -webkit-user-select:none;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 450px;
        height: 500px;
    }
    
    .link {
        color: green;
    }
    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background:#BEE0FE;
    }

    
    .fadein {
        text-align: center;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    #restart {
        height: 50px;
        width: 100px;
        margin: 0 auto;
    }
    
    @font-face {
        font-family: "lazer";
        src: url("misc/Lazer84.ttf");
    }
    @font-face {
        font-family: "streamster";
        src: url("misc/Streamster.ttf");
    }
    @font-face {
        font-family: "vcr";
        src: url("misc/vcrmono.ttf");
    }
    
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    
  }
    
  
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .background {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        animation: 8.0s scroll infinite linear;
        width: 450px;
        height: 500px;
    }
    
    .background-start {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        width: 450px;
        height: 500px;   
    }
    
    
    @keyframes scroll{
        100%{
          background-position:0px 1200px;
        }
    }
    canvas {
        -webkit-user-select:none;
        background: transparent;
    }
    
    .container {
        -webkit-user-select:none;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 450px;
        height: 500px;
    }
    
    .link {
        color: green;
    }
    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background:#BEE0FE;
    }

    
    .fadein {
        text-align: center;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    #restart {
        height: 50px;
        width: 100px;
        margin: 0 auto;
    }
    
    @font-face {
        font-family: "lazer";
        src: url("misc/Lazer84.ttf");
    }
    @font-face {
        font-family: "streamster";
        src: url("misc/Streamster.ttf");
    }
    @font-face {
        font-family: "vcr";
        src: url("misc/vcrmono.ttf");
    }
    
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    
  }
    
  
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .background {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        animation: 8.0s scroll infinite linear;
        width: 450px;
        height: 500px;
    }
    
    .background-start {
        -webkit-user-select:none;
        z-index:-1;
        position: fixed;
        background:url("images/level.png");
        width: 450px;
        height: 500px;   
    }
    
    
    @keyframes scroll{
        100%{
          background-position:0px 1200px;
        }
    }
    canvas {
        -webkit-user-select:none;
        background: transparent;
    }
    
    .container {
        -webkit-user-select:none;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 450px;
        height: 500px;
    }
    
    .link {
        color: green;
    }
    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background:#BEE0FE;
    }

    
    .fadein {
        text-align: center;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    #restart {
        height: 50px;
        width: 100px;
        margin: 0 auto;
    }
    
    @font-face {
        font-family: "lazer";
        src: url("misc/Lazer84.ttf");
    }
    @font-face {
        font-family: "streamster";
        src: url("misc/Streamster.ttf");
    }
    @font-face {
        font-family: "vcr";
        src: url("misc/vcrmono.ttf");
    }
    
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    
  }
    
  
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    




.background {
    -webkit-user-select:none;
    z-index:-1;
    position: fixed;
    background:url("images/level.png");
    animation: 8.0s scroll infinite linear;
    width: 450px;
    height: 500px;
}

.background-start {
    -webkit-user-select:none;
    z-index:-1;
    position: fixed;
    background:url("images/level.png");
    width: 450px;
    height: 500px;   
}


@keyframes scroll{
    100%{
      background-position:0px 1200px;
    }
}
canvas {
    -webkit-user-select:none;
    background: transparent;
}

.container {
    -webkit-user-select:none;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 450px;
    height: 500px;
}

body {
    zoom: 200%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background:black;
}
.link {
    color: red;
}

}
@media screen and(max-width: 600px) {
    body {
        zoom: 200%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background:black;
    }
    .link {
        color: red;
    }
}

.fadein {
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#restart {
    height: 50px;
    width: 100px;
    margin: 0 auto;
}

@font-face {
    font-family: "lazer";
    src: url("misc/Lazer84.ttf");
}
@font-face {
    font-family: "streamster";
    src: url("misc/Streamster.ttf");
}
@font-face {
    font-family: "vcr";
    src: url("misc/vcrmono.ttf");
}

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }



/*
#testLazer {
    font-family: "lazer84";
    font-size: 60px;
    color: #24006D;
}

#testStreamster {
    font-family: "streamster";
    font-size: 70px;
    color: #EE209A;
}
#vcr {
    font-family: "vcr";
    font-size: 70px;
    color: white;
}*/