.background {
    z-index:-1;
    position: fixed;
    background:url("images/level.png");
    animation: 8.0s scroll infinite linear;
    width: 450px;
    height: 500px;
}

.background-start {
    z-index:-1;
    position: fixed;
    background:url("images/level.png");
    width: 450px;
    height: 500px;   
}


@keyframes scroll{
    100%{
      background-position:0px 1200px;
    }
}
canvas {
    background: transparent;
}

.container {
    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 450px;
    height: 500px;
}
body {
    -webkit-user-select: none;
    background:#BEE0FE;
}

.fadein {
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#restart {
    height: 50px;
    width: 100px;
    margin: 0 auto;
}

@font-face {
    font-family: "lazer";
    src: url("misc/Lazer84.ttf");
}
@font-face {
    font-family: "streamster";
    src: url("misc/Streamster.ttf");
}
@font-face {
    font-family: "vcr";
    src: url("misc/vcrmono.ttf");
}

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }



/*
#testLazer {
    font-family: "lazer84";
    font-size: 60px;
    color: #24006D;
}

#testStreamster {
    font-family: "streamster";
    font-size: 70px;
    color: #EE209A;
}
#vcr {
    font-family: "vcr";
    font-size: 70px;
    color: white;
}*/